html {
  max-width: 940px;
  margin: 40px auto;
  font-family: "Press Start 2P", sans-serif;
}

body {
  margin: 0 8px;
}

img {
  max-width: 250px;
  max-height: 500px;
}
section, div {
  margin: 40px 0;
}